<nav class="navMain">
      <ul>
            <li><a href="/admin"><i class="fa-solid fa-house"></i> <small>Inicio</small></small></a></li>
            <li><a href="/admin/users"><i class="fa-solid fa-users"></i> <small>Usuarios</small></a></li>
            <li><a href="/admin/products"><i class="fa-solid fa-screwdriver-wrench"></i> <small> Productos</small></a></li>
            <li><a href="/admin/categories"><i class="fa-solid fa-diamond"></i> <small>Categorías</small></a></li>
            <li><a href="/admin/subcategories"><i class="fa-solid fa-diagram-project"></i> <small>SubCategorías</small></a></li>
            
      </ul>
</nav>