main.main-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      margin-bottom: 10px;
      background-color: var(--gris-claro);
      border-radius: 5px;
}
main.main-section section.container div.container-title p {
      color: var(--gris-oscuro);
      font-size: 14px;
      margin-bottom: 10px;
}
main.main-section section.container div.image {
      display: flex;
      justify-content: center;
      align-items: center;
}
main.main-section section.container div.image img {
      width: 75%;
      border-radius: 20px;
      margin-bottom: 10px;
      max-width: 350px;
}
main.main-section section.container div.container-details {
      background-color: white;
      border-radius: 5px;
      margin: 0 auto;
}
main.main-section div.compra-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

main.main-section section.container div.container-compra,
main.main-section section.container div.conteineir-decription {
      font-size: 12px;
      margin: 10px 0;
      padding: 10px 2px;
}
main.main-section section.container div.container-compra p {
      margin: 5px 0;
}
main.main-section section.container div.container-compra a {
      color: var(--celeste);
      font-size: 14px;
}

/* main.main-section section.container p.cuotas {
      margin-bottom: 5px;
}
main.main-section section.container div.conteiner-compra {
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 10px;
}
main.main-section section.container div.conteiner-compra p {
      margin-top: 10px;
}
main.main-section section.container div.conteineir-decrip p {
      margin-top: 10px;
      font-size: 15px;
}
main.main-section section.container div.conteineir-decrip div {
      line-height: 10px;
      margin-top: 15px;
} */

/* Media queries */
@media (min-width: 768px) {
      main.main-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 9px;
            margin-bottom: 14px;
            background-color: var(--gris-claro);
            border-radius: 9px;
      }
      main.main-section section.container div.container-title p {
            color: var(--gris-oscuro);
            font-size: 19px;
      }
      main.main-section section.container div.container-title h3 {
            font-weight: normal;
            margin-bottom: 6px;
            font-size: 21px;
      }

      main.main-section section.container div.container-title p.cuotas {
            margin-bottom: 9px;
      }
      main.main-section section.container div.image {
            display: flex;
            justify-content: center;
            align-items: center;
      }

      main.main-section section.container div.image img {
            width: 60%;
            border-radius: 24px;
            margin-bottom: 14px;
      }
      main.main-section section.container div.container-details {
            padding: 10px;
      }
      main.main-section section.container div.conteiner-compra {
            font-size: 17px;
            margin-bottom: 14px;
            line-height: 10px;
      }
      main.main-section section.container div.conteiner-compra a {
            color: var(--celeste);
      }
      main.main-section section.container div.conteiner-compra p {
            font-size: 22px;
            margin-top: 18px;
      }
      main.main-section section.container div.conteineir-decrip h3 {
            font-size: 23px;
      }
      main.main-section section.container div.conteineir-decrip p {
            margin-top: 14px;
            font-size: 18px;
      }
      main.main-section section.container div.conteineir-decrip div {
            line-height: 10px;
            margin-top: 20px;
      }
}

@media (min-width: 1024px) {
      main.main-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 13px;
            margin-bottom: 18px;
            background-color: var(--gris-claro);
            border-radius: 13px;
      }
      main.main-section section.container div.container-title p {
            color: var(--gris-oscuro);
            font-size: 24px;
      }
      main.main-section section.container div.container-title h3 {
            font-weight: normal;
            margin-bottom: 6px;
            font-size: 26px;
      }

      main.main-section section.container div.container-title p.cuotas {
            margin-bottom: 13px;
      }
      main.main-section section.container div.image {
            display: flex;
            justify-content: center;
            align-items: center;
      }
      main.main-section section.container div.image img {
            width: 50%;
            border-radius: 24px;
            margin-bottom: 14px;
      }
      main.main-section section.container div.conteiner-compra {
            font-size: 17px;
            margin-bottom: 14px;
            line-height: 10px;
      }
      main.main-section section.container div.conteiner-compra a {
            color: var(--celeste);
      }
      main.main-section section.container div.conteiner-compra p {
            margin-top: 18px;
      }
      main.main-section section.container div.conteineir-decrip p {
            margin-top: 15px;
            font-size: 18px;
      }
      main.main-section section.container div.conteineir-decrip h3 {
            font-size: 29px;
      }
      main.main-section section.container div.conteineir-decrip div {
            line-height: 10px;
            margin-top: 29px;
      }
}
