/* PRODUCTS */
main.main-section section.vip-products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 10px;
      max-width: 1100px;
      z-index: 9998;
}
main.main-section section.vip-products div.container-title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      padding-left: 5px;
}
/* main.main-section section.vip-products div.container-title h3.title {
      color: var(--bordo);
      font-size: 14px;
      margin-right: 5px;
} */
h1.title {
      margin-top: 15px;
      color: #184b44;
      font-weight: bold;
      font-size: 20px;
}
main.main-section section.vip-products div.container-title h3.title {
      margin-top: 15px;
      font-size: 20px;
}

main.main-section section.vip-products div.container-title a {
      color: var(--celeste);
      font-size: 12px;
      text-decoration: underline;
}
main.main-section section.vip-products article.product {
      max-width: 130px;
      margin: 20px 2px 10px 3px;
      padding: 5px;
      background-color: white;
      border-radius: 10px;
      width: 100%;
}
main.main-section section.vip-products article.product:hover {
      transform: scale(1.1);
      box-shadow: 5px 5px 10px rgb(100, 100, 100);
}
main.main-section section.vip-products article.product .product-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
}
main.main-section section.vip-products article.product .product-container div.valoracion {
      position: absolute;
      top: 0;
      left: 0px;
      color: var(--amarillo);
      font-size: 8px;
}
main.main-section section.vip-products article.product .product-container div.descuento {
      position: absolute;
      top: 0;
      right: 0px;
      background-color: var(--rojo);
      color: white;
      border-radius: 10px;
      font-size: 12px;
      padding: 4px;
      width: 30px;
}
main.main-section section.vip-products article.product div.product-container a.photo-container {
      height: 120px;
}
main.main-section section.vip-products article.product .product-container img.photo {
      width: 100%;
      border-radius: 10px;
      max-height: 100px;
      padding-top: 25px;
}
main.main-section section.vip-products article.product h2.name {
      color: var(--gris-medio);
      font-size: 10px;
      font-weight: normal;
      padding: 3px 5px;
      border-top: 1px solid var(--gris-medio);
      /* height: 50px; */
}

.descuento p {
      margin-bottom: 0;
}
/* END PRODUCTS */

/* Media queries */
@media (min-width: 768px) {
      /* PRODUCTS */
      h1.title {
            font-size: 36px;
      }
      main.main-section section.vip-products div.container-title h3.title {
            font-size: 30px;
      }
      main.main-section section.vip-products article.product {
            max-width: 170px;
      }
      /*main.main-section section.vip-products article.product div.product-container a.photo-container {
            height: 140px;
      }*/
      main.main-section section.vip-products article.product .product-container img.photo {
            max-height: 130px;
      }
      main.main-section section.vip-products article.product h2.name {
            font-size: 12px;
            height: 90px;
      }

      /* END PRODUCTS */
}

/* Media queries */
@media (min-width: 1024px) {
      /* PRODUCTS */
      /*       main.main-section section.vip-products article.product {
            max-width: 205px;
      } */
      main.main-section section.vip-products article.product div.product-container a.photo-container {
            height: 180px;
      }
      main.main-section section.vip-products article.product .product-container img.photo {
            max-height: 170px;
      }
      /* END PRODUCTS */
}
