/* @import url("forms.css"); */

main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      margin-bottom: 10px;
      background-color: var(--gris-claro);
      border-radius: 5px;
}
main div.form-container img.image-register {
      width: 25%;
}

