<footer>
    <section>
        <div class="menuFooter">
            <ul>
                <li>
                    <a href="http://localhost:3030/history">Nuestra Historia</a>
                    
                </li>
                <li>
                    <a href="http://localhost:3030/legales">Legales</a>
                    
                </li>
                <li>
                    <a href="http://localhost:3030/contact">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="redes">
            <a href="https://github.com/oscarchacoma" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/lucasfmonsores" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/Edu568" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/GermanLasserre" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-telegram"></i></a>
        </div>
        <div class="copy">
            <h4>Copyright <i class="fa-solid fa-copyright"></i></h4>
        </div>
        <div class="descripcion">
            <h5>2022 TusanGuche S.R.L. Calle falsa 123mo, 143 Ciudad,
                Argentina</h5>
        </div>
        <div class="logoFooter">
            <img src="/images/iconos/img-isologo.png" alt="Isologotipo ecomer">
        </div>
        <div class="qrFooter">
            <i class="fa-solid fa-qrcode"></i>
        </div>
    </section>
</footer>