<footer class="main-footer">
      <div class="container-footer">
            <div class="container-image">
                  <img src="/img/qr.png" alt="">
                  <img src="/img/googlePlay.png" alt="" id="googlePlay">
            </div>
            <div class="our-networks">
                  <p>Buscano en nuestras redes</p>
                  <div class="container-networks">
                        <div class="icon"><i class="fa-brands fa-facebook"></i></div>
                        <div class="icon"><i class="fa-brands fa-telegram"></i></div>
                        <div class="icon"><i class="fa-brands fa-youtube"></i></div>
                        <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                        <div class="icon"><i class="fa-brands fa-square-instagram"></i></div>
                  </div>
            </div>
            <div class="nav-bottom">
                  <ul>
                        <li><a href="#">Contactos</a></li>
                        <li><a href="#">¿Quienes somos?</a></li>
                        <li><a href="#">Politicas de Privacidad</a></li>
                        <li><a href="#">Aviso legal y condiciones de uso</a></li>
                        <li><a href="#">Politicas de Cookies</a></li>
                  </ul>
            </div>
            <p>Ferreteria Pico y Pala ©2022</p>
      </div>
</footer>